/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Titillium+Web&display=swap');

/*
    Color palette for UI elements.
    background - #12161c
    background 2 - #14191f
    font color - #f7faf7
    main theme color - #0089ec
 */

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    /*background-color: #12161c !important;*/
    background-color: #ffffff !important;
    color: #f7faf7 !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

header {
    z-index: 1000;
    background-color: #040404 !important;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 20px;
}

header nav ul li a {
    color: #f7faf7;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.2s;
}

header nav ul li a:hover {
    color: #0089ec;
}

header div img {
    transition: all 0.2s;
}

header div img:hover {
    transform: scale(1.05);
}

div.mainHomeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: url('/bg.png');
    background-size: cover;
    background-position: center;
    z-index: 999;
    position: relative;
}

.mainTitleContainer {
    /*font-family: 'Titillium Web', sans-serif;*/
    font-size: 86px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(60deg, #0089ec, #5fb3f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainDescriptionContainer {
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
    color: #f7faf7;
}

.mainButtonContainer {
    text-align: center;
}

.mainButton {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(60deg, #0089ec, #5fb3f5);
    color: #f7faf7;
    border: 0 solid transparent;
    padding: 10px 40px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.mainButton:hover {
    transform: translateY(-10px);
}

.creator {
    color: black;
}

.knowMoreContainer {
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.pseudoArrow {
    font-size: 24px;
}

.howItWork {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
}

.howItWorkTitle {
    font-size: 46px;
    font-weight: 700;
    background-image: linear-gradient(60deg, #0089ec, #5fb3f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.howItWorkContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.howItWorkContent .howItWorkItem {
    margin-top: 20px;
    width: calc(3 * 15vh);
    margin-left: 50px;
    margin-right: 50px;
}

.howItWorkContent .howItWorkItem .howItWorkItemTitle {
    font-size: 30px;
    font-weight: 800;
    color: #040404;
    background-image: linear-gradient(60deg, #0089ec, #5fb3f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.howItWorkContent .howItWorkItem .howItWorkItemDesc {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.footer {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040404;
    font-size: 20px;
    font-weight: 800;
}

.footer a {
    margin: 6px;
    color: #0089ec;
    text-decoration: none;
}

.HowMuchUsers {
    color: #f7faf7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    background-color: #040404;
}

.HowMuchUsersTitle {
    font-size: 46px;
    font-weight: 700;
    background-image: linear-gradient(60deg, #0089ec, #5fb3f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.HowMuchUsersContent {
    display: flex;
    align-items: center;
    background-color: #040404;
    justify-content: center;
}

.HowMuchUsersContent .HowMuchUsersItem {
    margin-top: 20px;
}

.HowMuchUsersContent .HowMuchUsersItem .HowMuchUsersItemTitle {
    font-size: 72px;
    font-weight: 900;
    color: #f7faf7;
}

.HowMuchUsersContent .HowMuchUsersItem .HowMuchUsersItemDesc {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.creator {
    color: black;
    display: grid;
    grid-template-areas:
    'left left left left left left right right right right right right'
    'left left left left left left right_down right_down right_down right_down right_down right_down'
    'footer footer footer footer footer footer right_down right_down right_down right_down right_down right_down';
    height: calc(100vh - 73px);
    overflow-y: hidden;
}

.creatorLeft       { grid-area: left; }
.creatorRight      { grid-area: right; }
.creatorRightDown  { grid-area: right_down; }
.creatorFooter     { grid-area: footer; }

.creatorLeftSide {
    width: 50vh;
    min-width: 50vh;
    max-width: 50vh;
    height: 70vh;
    max-height: 70vh;
    font-weight: bold;
    position: relative;
    font-size: 18px;
}

.creatorLeftSide .content {
    padding: 5px 10px;
}

.creatorLeftSide .top {
    top: 0;
    padding: 4px 10px;
    background-color: #0089ec;
}

.creatorLeftSide div {
    padding: 2px 0;
}

.creatorLeftSide .top {
    top: 0;
}

.creatorRightSide  {
    width: 50vh;
    min-width: 50vh;
    max-width: 50vh;
    height: 35vh;
    max-height: 35vh;
    position: relative;
}

.creatorRightSide .content {
    padding: 5px 10px;
}

.click {
    cursor: pointer;
}

.creatorRightSide .top {
    top: 0;
    padding: 4px 10px;
    background-color: #0089ec;
}

.creatorRightSide div {
    font-size: 18px;
    font-weight: bold;
}

.creatorRightDownSide  {
    width: 50vh;
    min-width: 50vh;
    max-width: 50vh;
    height: 35vh;
    max-height: 35vh;
    position: relative;
    font-weight: bold;
    font-size: 18px;
}

.creatorRightDownSide .top {
    top: 0;
    padding: 4px 10px;
    background-color: #0089ec;
}

.creatorRightDownSide .content {
    padding: 15px 10px;

}

.creatorFooterSide {
    width: 50vh;
    min-width: 100vh;
    max-width: 100vh;
    height: 5vh;
    max-height: 30vh;
}

.creatorFooterSide .top {
    top: 0;
    padding: 4px 10px;
    font-weight: bold;
    background-color: #0089ec;
}

.creatorFooterSide .content {
    padding: 20px 20px;
    display: flex;
    align-items: center;
}

.creatorFooterText {
    font-size: 20px;
    font-weight: bold;
}

.creatorFooterText a {
    color: #0089ec;
    text-decoration: none;
}

.creator > div {
    min-height: 100%;
    min-width: 100%;
    border: #0089ec 1px solid;
    background-color: #090909;
    color: #f7faf7;
    /*padding: 10px 10px;*/
}

.textureBorder {
    border: #0089ec 1px solid;
}

.chooseVersion {
    font-weight: bold;
    background-color: #090909;
}

.chooseVersion span {
    margin: 10px;
    font-size: 30px;
}

.chooseVersion a {
    margin: 10px;
    font-size: 20px;
    color: #0089ec;
    text-decoration: none;
    cursor: pointer;
}
