/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Titillium+Web&display=swap');

/*
    Color palette for UI elements.
    background - #12161c
    background 2 - #14191f
    font color - #f0f0f0
    main theme color - #0089ec
 */

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    /*background-color: #12161c !important;*/
    background-color: #ffffff !important;
    color: #f0f0f0 !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

header {
    z-index: 1000;
    background-color: #040404 !important;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 20px;
}

header nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.2s;
}

header nav ul li a:hover {
    color: #0089ec;
}

header div img {
    transition: all 0.2s;
}

header div img:hover {
    transform: scale(1.05);
}

div.mainHomeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: url('/bg.png');
    background-size: cover;
    background-position: center;
    z-index: 999;
    position: relative;
}

.mainTitleContainer {
    /*font-family: 'Titillium Web', sans-serif;*/
    font-size: 86px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(60deg, #0089ec, #5fb3f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainDescriptionContainer {
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
    color: #f0f0f0;
}

.mainButtonContainer {
    text-align: center;
}

.mainButton {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(60deg, #0089ec, #5fb3f5);
    color: #f0f0f0;
    border: 0 solid transparent;
    padding: 10px 40px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.mainButton:hover {
    transform: translateY(-10px);
}

.creator {
    color: black;
}

.knowMoreContainer {
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.pseudoArrow {
    font-size: 24px;
}